apiVersion: v1
kind: Namespace
metadata:
  name: nfs
---
apiVersion: v1
kind: Pod
metadata:
  namespace: nfs
  name: nfs-server
  labels:
    app: nfs-server
spec:
  nodeSelector:
    local-registry: 'true'
  containers:
    - name: nfs
      image: itsthenetwork/nfs-server-alpine:latest
      securityContext:
        privileged: true
      env:
        - name: SHARED_DIRECTORY
          value: /exports
      volumeMounts:
        - mountPath: /exports
          name: export-volume
  volumes:
    - name: export-volume
      hostPath:
        path: /mnt/nfs-share     # path on the node
        type: DirectoryOrCreate
---
apiVersion: v1
kind: Service
metadata:
  namespace: nfs
  name: nfs-server
spec:
  selector:
    app: nfs-server
  clusterIP: None
  ports:
    - name: nfs
      protocol: TCP
      port: 2049
      targetPort: 2049
    - name: nfs-v3-tcp
      protocol: TCP
      port: 111
      targetPort: 111
    - name: nfs-v3-udp
      protocol: UDP
      port: 111
      targetPort: 111
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: nfs-server.nfs.svc.cluster.local
    path: /
  mountOptions:
    - vers=4
  persistentVolumeReclaimPolicy: Retain
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: local-registry
              operator: In
              values:
                - "true"
