apiVersion: v1
kind: Namespace
metadata:
  name: nfs
---
apiVersion: v1
kind: Pod
metadata:
  namespace: nfs
  name: nfs-server
  labels:
    app: nfs-server
spec:
  containers:
    - name: nfs
      image: itsthenetwork/nfs-server-alpine:latest
      securityContext:
        privileged: true
      env:
        - name: SHARED_DIRECTORY
          value: /exports
      volumeMounts:
        - mountPath: /exports
          name: export-volume
  volumes:
    - name: export-volume
      hostPath:
        path: /mnt/nfs-share     # path on the node
        type: DirectoryOrCreate
---
apiVersion: v1
kind: Service
metadata:
  namespace: nfs
  name: nfs-server
spec:
  selector:
    app: nfs-server
  ports:
    - protocol: TCP
      port: 2049              # NFS default port
      targetPort: 2049
  clusterIP: None             # headless service for direct pod access
---
apiVersion: v1
kind: PersistentVolume
metadata:
  namespace: nfs
  name: nfs
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteMany
  nfs:
    server: nfs-server.nfs.svc.cluster.local
    path: /
